<h1>TinyApp</h1>

<p><a href='/register'>Register</a></p>
<p><a href='/login'>Login</a></p>

 <form method="POST" action="/logout" id='logoutForm'>
  </form>
  <button type='submit' form='logoutForm'>Logout</button>

