<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<p>Hello! Welcom to Tiny app, a url shortener for twitterers who like to link long urls and still want space! </p>
<p><a href='/login'>Login</a></p>
<p><a href='/register'>Register</a></p>
</body>
</html>
