<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include ./partials/__header.ejs %>

<form method="POST" action="/login" id='loginForm' >
  <label>Email: <input type='email' name='email' id='email'> </label>
  <label>Password: <input type='password' name='password'></label>
</form>
<button type='submit' form='loginForm'>Sign In</button>



</body>
</html>
