<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include ./partials/__header.ejs %>
<table>
  <tr>
    <th>ShortURL: </th>
    <td><%= shortURL %></td>
  </tr>
  <tr>
    <td><form method='POST' action='<%= shortURL %>' id='Update'><input type='text' name='newurl' value='<%= longURL%>'> </form></td>
    <td><button type='submit' type='text' name='' form='Update'>Update</button></td>
  </tr>
</table>

</body>
</html>
